  /* The Box */

  /* https://www.youtube.com/watch?v=cH0TC9gWiAg&t=90s */

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    margin: 4em 1em;
  }

  .flex-container div{
    width: 550px;height: 500px; margin: 5px; padding: 5px;
    background-color: rgb(7, 203, 203);
    font-size: 3em; text-align: center; color: white;
    position: relative; 
    border-radius: 20px;
  }

  .flex-container div:nth-child(1){
    flex: 0 1 600px;
  }

  .flex-container div:nth-child(2){
    flex: 0 0 700px;
  }

  .flex-container div:nth-child(3){
    flex: 0 0 calc(100% - 80px);
  }

/*Copied code ends*/

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .parent {
    position: relative;
    top: 0;
    left: 0;
  }

/*Box for the experience page*/
  .box {
    width: 990px;
    height: 156px;
  }

  .box .rectangle {
    position: relative;
    width: 990px;
    height: 156px;
    top: 0;
    left: 0;
    background-color: #33658a;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #00000040;
  }
  

/*https://www.w3schools.com/howto/howto_css_blurred_background.asp*/

  .bg-image {
    /* The image used */
    background-image: url("../img/HongKong.jpg");
    background-image: url("../img/Toronto.JPG");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

/* Position text beside the image */
.grid-container {
  display: flex;
  grid-template-columns: 200px;
  gap: 20px;
  background-color: #2F4858;
  padding: 20px;
  justify-content: center ;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
